body,
html {
    padding: 0px;
    margin: 0px;
    /* max-width: 1200px; */
}

/* Start Top Nav */
.navbar {
    background-color: #040558;
    height: 58px;
    position: static;
    top: 0px;
    width: 100%;
    box-shadow: 15px 15px 20px 10px rgba(61, 61, 61, 0.8);
    /* max-width: 1200px; */

}

h2 {
    color: white;
    text-shadow: 2px, 4px, 4px, rgba(0, 0, 0, .8);


}

.middleText {
    position: absolute;
    right: 40%;
    top: 1%;
    text-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8),

}

.topRightIcon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.topLeftMenuIcon {
    position: absolute;
    left: 5px;
    top: 0px;
}

.middleText {
    text-align: inherit;

}


/*main contents*/
.mainContents {
    max-width: 1200px;
    margin: auto;
}

/* top image*/
.topBannerImg {
    background-image: url('images/canoe.jpg');
    width: 1200px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;


}

/* image text */
.overlay-text {
    background-color: rgba(255, 255, 255, 0.134);
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(50%, -70%);
    font-size: 50px;
    font-style: italic;
    color: rgb(0, 0, 0);

}

/*main contents*/
.img-container1 {
    width: 40px;
    height: 40px;
    background-color: rgb(6, 6, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    flex-direction: row;
    flex-flow: space-around;
    align-items: stretch;
}

.trip {
    background-color: rgb(58, 58, 58);

}




.trip1img {

    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    border: 3px solid #000000;
    display: center;

}

#trip2img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    border: 3px solid #000000;
    display: center;

}

.trip1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;


}

#trip1txt {
    margin: 2%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    flex-direction: column;
    align-items: center;

}

#trip1location {
    font-size: large;
    display: flex;
    margin: 2%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    flex-direction: column;

}

.trip2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;



}

.trip1date {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    flex-direction: column;
}

.trip2date {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

.trip2txt {
    margin: 2%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    font-size: 15px;
}

#trip2location {
    font-size: large;
    display: flex;
    margin: 2%;
}

.tripheader {
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #040558;
    margin: 1%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    border: 3px solid #000000;
    text-shadow: 2px, 4px, 4px, rgba(0, 0, 0, .8);
}

.mainContents {
    padding: 0%;
    max-width: 1200px;

}

/*burger menu*/
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #040558;

    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 100px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 18px 18px 18px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;

}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

/* button to book a trip options*/
.button {
    color: #ffffff;
    background-color: #00a58d;
    align-items: baseline;
    width: 15%;

}

@media screen and (max-width: 1200px) {
    .viewport {
        width: 100%;
        max-width: 1200px;
    }
}

@media screen and (max-width:1024) {
    .viewport {
        font-size: 15px;
        background-color: rgba(0, 0, 0, .8);
    }
}

@media screen and (max-width:768) {
    .viewport {
        font-size: 12px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}




/* .sidenav {
    border-top: 1px solid #18dcff;
    overflow: hidden;
}


.btn {
    display: block;
    padding: 16px 20px;
    background: #015267;
    color: white;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #012933;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i {
    margin-right: 10px;
}

.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 16px 26px;
    color: white;
    margin: 4px 0;
    position: relative;
}

.smenu a::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #18dcff;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
}

.smenu a:hover::before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 10em;
} */

.welcomeBox {
    padding-top: 50px;
    box-shadow: 3px 3px 5px 2px rgba(55, 55, 55, 0.8);
    border: 1px solid #000000;
    text-shadow: 2px, 4px, 4px, rgba(69, 69, 69, 0.8);
    text-align: center;
    margin: 250px;
    background-color: #015267;

}

.middleText2 {
    padding: auto;
    text-shadow: 2px, 4px, 4px, rgba(69, 69, 69, 0.8);
    display: inline-block;
    align-items: center;
}

.fbtn {
    text-align: center;
    padding: 5px;
    background-color: #040558;
    color: #f1f1f1;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #017572;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #017572;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #017572;
}






/* email account form */


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}