body, html {
    padding: 0px;
    margin: 0px;
}
/* Start Top Nav */
.navbar{
    background-color: rgb(10, 10, 110);
    height: 50px;
    position: absolute;
    top: 0px;
    width: 100%;
    box-shadow: 15px 15px 20px 10px rgba(0,0,0,.8); 
}
h2 {
    color: white;
}
.topRightIcon{
    position: absolute;
    right: 0px;
    top: 0px;
}
.topLeftMenuIcon {
    position: absolute;
    left: 0px;
    top: 0px;
}
.middleText {
    text-align: center;
}
/* End Top Nav */
/* Start Left Toggle Nav */
.hamburger {
    width: 20%;
    position: absolute;
    left: 0px;
    top: 50px;
    height: 100vh;
    background-color: rgb(6, 6, 6);
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    
}
/* End Left Toggle Nav */
.mainContents {
 width: 1200px;
 margin: auto;
}
.topBannerImg  {
    background-image: url('images/canoe.jpg');
    width: 1200px;
    height: 800px;
    
}
.img-container1 {
width: 40px;
height: 40px;
background-color: rgb(6, 6, 60);
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0;
margin: 0;
box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
flex-direction: row;
flex-flow: space-around;
align-items: stretch;
}
.trip{
    background-color: rgb(22, 21, 21);
}
.img-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-shadow:2px 2px #000000;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    align-items: stretch;
}
.hamburger {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
/* top image*/
.main-img {
    display: flex;
    justify-content: center;
}
/* image text */
.imgtxt1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgtxt1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow:2px, 2px, #000000;
}
.trip1img {
    width: 500px;
    height: 500px;
    box-shadow:2px,2px, #000000;
    border: #000000;
    display: flex;
    border: #000000;
    border-radius: 500px;
}
#trip2img {
    width: 50%;
    height: 50%;
    box-shadow:10px, 10px, #000000;
    border: #000000;
    border-radius: 5px;
    display: block;
}
.trip1 {
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    color: #FFFFFF;
    display:flex;
    align-items: center;
}
#trip1txt {
    margin: 2%;
}
#trip1location {
    font-size: large;
    display: flex;
    margin: 2%;
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #3336ca;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
