.navbar{
    background-color: blue;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
    align-items: baseline;
}

.img-container1 {
width: 40px;
background-color: blue;

}